.articles-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.article-item {
  padding: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 3px;
}

.article-item:hover {
  border-radius: 3px;
  background-color: var(--color-bg-hover);
}

.article-item.active {
  background-color: var(--color-bg-hover);
}

.article-item.active h3 {
  /* font-weight: 700; */ /* 移除加粗 */
}

.article-item h3 {
  margin: 0 0 0.25rem 0;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-text-primary);
  line-height: 1.3;
}

.article-item .article-date {
  margin: 0;
  font-size: 0.8rem;
  color: var(--color-text-muted);
}

/* 响应式设计 */
@media (max-width: 768px) {
  #site-sidebar {
    display: none;
  }
}

.category-sidebar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-bg-secondary) var(--color-bg-primary); /* thumb为color-bg-secondary，track为bg-primary */
  overflow-y: auto;
  padding-right: 1.5rem;
}

.category-sidebar::-webkit-scrollbar {
  width: 12px;
  background: var(--color-bg-primary);
}

.category-sidebar::-webkit-scrollbar-track {
  background: var(--color-bg-primary);
}

.category-sidebar::-webkit-scrollbar-thumb {
  background: var(--color-bg-secondary);
  border-radius: 3px;
  border: none;
}

.category-sidebar::-webkit-scrollbar-thumb:window-inactive {
  background: var(--color-bg-secondary);
}

.category-sidebar::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-muted);
}

.category-sidebar::-webkit-scrollbar-corner {
  background: var(--color-bg-primary);
}


.category-sidebar:has(:not(:last-child))::-webkit-scrollbar-thumb:vertical:inactive {
  background: var(--color-bg-secondary);
}